NEXT_PUBLIC_SUPABASE_URL=*********
NEXT_PUBLIC_SUPABASE_ANON_KEY=*******
DATABASE_URL=***
NEXTAUTH_SECRET=*****
JWT_SECRET=***
NODE_ENV=development
CLERK_SECRET_KEY=*********
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=*******
GEMINI_API_KEY=****
DODO_PAYMENTS_API_KEY=your_dodo_api_key_here
DODO_PAYMENTS_WEBHOOK_KEY=your_dodo_webhook_key_here
NEXT_PUBLIC_APP_URL=http://localhost:3000